@import "tailwindcss";

:root {
  --max-width: 1400px; /* Wider like Rupi's */
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
  color: #0e0e0e;
  font-family: var(--font-inter), sans-serif;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}
